html {
  background: #000;
  text-align: center;
  color: #FFF;
}

span, textarea {
  display: inline-block;
  background: #000;
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  border: none;
  resize: none;
  white-space: nowrap;

  /* display: inline; */
  /* width: auto; */
}